rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /workbooks/{workbookId} {
      allow read: if true;
      allow write: if false;
    }
    match /workbooks/{workbookId}/questions/{questionId} {
      allow read: if true;
      allow write: if false;
    }
    match /questions/{questionId} {
      allow read: if true;
      allow write: if false;
    }
    match /histories/{historyId} {
      allow read: if true;
      allow write: if false;
    }
    match /drafts/{draftId} {
      allow read: if true;
      allow write: if false;
    }
    match /favorites/{favoriteId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
